<div class="clube-container">
    <h1>Flamengo</h1>
    <p>Bem-vindo à página do Flamengo, o maior clube do Rio de Janeiro!</p>
    <p>
     O Clube de Regatas do Flamengo,
      foi fundado em 17 de novembro de 1895. Originalmente um clube de remo, o Flamengo entrou no futebol em 1911 e rapidamente se tornou um dos mais populares e bem-sucedidos clubes do Brasil.
      
      Conquistas e Ídolos: O Flamengo é conhecido por sua vasta coleção de títulos, incluindo várias edições do Campeonato Brasileiro e da Taça Libertadores. O clube teve grandes ídolos, como Zico, um dos maiores jogadores brasileiros de todos os tempos, e mais recentemente, Gabigol e Bruno Henrique. O Flamengo também é conhecido por sua enorme torcida, considerada uma das maiores do mundo.</p>
  </div>
  