<div class="clube-container">
    <h1>Botafogo</h1>
    <p>Bem-vindo à página do Botafogo, o clube da estrela solitária!</p>
    <p>O Botafogo de Futebol e Regatas foi fundado em 1º de julho de 1904. O clube teve um início como um clube de remo antes de se estabelecer no futebol. O Botafogo é conhecido por sua tradição e pela sua contribuição ao futebol carioca e brasileiro.

      Conquistas e Ídolos: O Botafogo conquistou diversos títulos estaduais e nacionais ao longo de sua história. O clube é famoso por ter revelado grandes jogadores, como Garrincha e Nilton Santos, ambos considerados entre os maiores jogadores da história do futebol brasileiro. A torcida do Botafogo é conhecida por seu forte apoio ao clube, independentemente das adversidades.</p>
  </div>
  