<div class="clube-container">
    <h1>Fluminense</h1>
    <p>Bem-vindo à página do Fluminense, o tricolor das laranjeiras!</p>
    <p>O Fluminense Football Club foi fundado em 21 de julho de 1902. Desde o início, o Fluminense se destacou por seu papel pioneiro no futebol brasileiro, sendo um dos clubes fundadores da Liga Metropolitana de Futebol, precursora do Campeonato Carioca.

      Conquistas e Ídolos: O Fluminense tem uma rica história de títulos, incluindo vários campeonatos estaduais e edições do Campeonato Brasileiro. Entre seus grandes ídolos estão Telê Santana, que depois se tornou um renomado treinador, e Fred, um dos principais atacantes da história do clube. O Fluminense também é conhecido por sua torcida apaixonada e pela tradição do time.</p>
  </div>
  