<div class="cards-container">
    <div class="card">
      <img src="brasileirao.jpg" alt="Imagem 1">
      <div class="card-body">
        <h5 class="card-title">Brasileirão</h5>
      </div>
    </div>
  
    <div class="card">
      <img src="copadobrasil.jpg" alt="Imagem 2">
      <div class="card-body">
        <h5 class="card-title">Copa do Brasil</h5>
      </div>
    </div>
  
    <div class="card">
      <img src="libertadores.jpeg" alt="Imagem 3">
      <div class="card-body">
        <h5 class="card-title">Brasileirão</h5>
      </div>
    </div>
  
    <div class="card">
      <img src="carioca.jpeg" alt="Imagem 4">
      <div class="card-body">
        <h5 class="card-title">Carioca</h5>
      </div>
    </div>
  </div>
  