<div class="clube-container">
    <h1>Vasco da Gama</h1>
    <p>Bem-vindo à página do Vasco da Gama, o gigante da colina!</p>
    <p>O Club de Regatas Vasco da Gama foi fundado em 21 de agosto de 1898. O Vasco começou como um clube de remo, mas se tornou um importante nome no futebol brasileiro a partir da década de 1920, com a sua entrada no campeonato carioca.

      Conquistas e Ídolos: O Vasco da Gama tem uma rica história de sucesso, com vários títulos estaduais e nacionais. Entre seus ídolos estão Romário e Roberto Dinamite, ambos altamente considerados no cenário do futebol brasileiro. O Vasco é conhecido por seu engajamento social e por sua torcida fiel, que sempre acompanha o clube com grande paixão.</p>
  </div>
  